body {
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Tool Tip */
.tooltip {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 7rem;
  background-color: #dddddd;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  bottom: 100%;
  margin-left: -4rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  font-size: 1rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  color: #6e672f;
  transition: 0.4s;
}

.fake-p {
  word-wrap: normal;
  font-size: 2rem;
}

textarea {
  width: 100%;
}