body {
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Tool Tip */
.tooltiptext {
  bottom: 100%;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  color: #6e672f;
  transition: 0.4s;
}

textarea {
  width: 100%;
}

/* Fixed positioned display for phone sizes */
@media only screen and (max-width: 767px) {
  .tooltiptext {
    position: fixed;
    z-index: 1;
    visibility: hidden;
    
    padding: 15px;

    width: auto;
    bottom: 0;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    
  }
}

/* Keep buttons on one row on the smallest screens */
@media only screen and (max-width: 359px) {
  .tooltiptext > button{
    margin: 0.25rem;
    padding: 0 0.4rem;
  }
}